docs/source/drivers/driver_summary.rst
docs/source/user/configoptions_index_generated.rst
docs/.doxygen_up_to_date
docs/build
*.astyle
*.*~
*.autosave
*.aux
*.bak
*.diff
*.log*
*.orig
*.prepare
*.pyc
*.sortinc
*.tex
*.toc
*~
*-stamp
.*.swp
.DS_Store
.vscode
.vs
.idea
.kdev4/
.project
.pydevproject
*CMakeLists.txt.user
*CMakeLists.txt.user.*
/build*
debian/*.debhelper
debian/*.substvars
desktop.ini
i18n/*.qm
qgis.kdev4
qgis.supp
qgis-test.ctest
qtcreator-build/
scripts/Debug
Thumb.db
cmake-build-debug/*
Testing/*
MDAL.mdproj
MDAL.sln
