docs/source/drivers/driver_summary.rst
docs/source/user/configoptions_index_generated.rst
docs/.doxygen_up_to_date
docs/build
*.astyle
*.*~
*.autosave
*.aux
*.bak
*.diff
*.log*
*.orig
*.prepare
*.pyc
*.sortinc
*.tex
*.toc
*~
*-stamp
.*.swp
.DS_Store
.vscode
.idea
.kdev4/
.project
.pydevproject
*CMakeLists.txt.user
*CMakeLists.txt.user.*
/build*
debian/*.debhelper
debian/*.substvars
desktop.ini
i18n/*.qm
qgis.kdev4
qgis.supp
qgis-test.ctest
qtcreator-build/
scripts/Debug
Thumb.db
cmake-build-debug/*
.vs/MDAL/v16/.suo
.vs/MDAL/v16/Browse.VC.db
.vs/MDAL/v16/Browse.VC.opendb
.vs/MDAL/v16/ipch/AutoPCH/2a0e70ccb6e63732/MDAL_PLY.ipch
.vs/MDAL/v16/ipch/AutoPCH/7f151bd3149c8075/MDAL_DATA_MODEL.ipch
.vs/MDAL/v16/ipch/AutoPCH/8f0a1e7da58d8562/MDAL_UTILS.ipch
.vs/MDAL/v16/ipch/AutoPCH/f117970ff2448ff/MDAL_DRIVER_MANAGER.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/MDAL/v16/ipch/AutoPCH/7b386faeedae686b/TEST_PLY.ipch
.vs/MDAL/v16/ipch/AutoPCH/8090b72e52cf5b44/TEST_XMS_TIN.ipch
.vs/MDAL/v16/ipch/AutoPCH/91743702d72189ed/MDAL_XMS_TIN.ipch
.vs/MDAL/v16/ipch/AutoPCH/d29670d7e8ef77f1/MDAL_GDAL.ipch
.vs/MDAL/v16/ipch/AutoPCH/edee92532311721c/MDAL_2DM.ipch
.vs/MDAL/v16/ipch/AutoPCH/ff8bea5a916a958a/MDAL_CF.ipch
.vs/MDAL/v16/ipch/AutoPCH/80ce5e6b060f018a/MDAL_PLY.ipch
.vs/MDAL/v16/ipch/AutoPCH/b0caf5ff09f2b35a/MDAL_UTILS.ipch
