name: OSX Tests
on: [push]
env:
  QGIS_DEPS_VERSION: 0.4.0
jobs:
  osx_tests:
    if: github.repository == 'lutraconsulting/MDAL'
    runs-on: macos-latest
    steps:
      - name: Checkout MDAL
        uses: actions/checkout@v2

      - name: install deps
        run: |
          THIS_DIR=`pwd`
          wget https://qgis.org/downloads/macos/deps/qgis-deps-${QGIS_DEPS_VERSION}.tar.gz
          sudo mkdir -p /opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/
          cd /opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/
          sudo tar -xzf $THIS_DIR/qgis-deps-${QGIS_DEPS_VERSION}.tar.gz
          /opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/bin/gdalinfo --formats

      - name: build MDAL
        run: |
          mkdir -p ../build_osx
          cd ../build_osx
          cmake \
              -DCMAKE_PREFIX_PATH=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage \
              -DCMAKE_BUILD_TYPE=Debug \
              -DGDAL_LIBRARY=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/lib/libgdal.dylib \
              -DGDAL_INCLUDE_DIR=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/include \
              -DGDAL_CONFIG=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/bin/gdal-config \
              -DNETCDF_PREFIX=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage \
              -DSQLITE3_INCLUDE_DIR=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/include \
              -DSQLITE3_LIBRARY=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/lib/libsqlite3.dylib \
              -DHDF5_DIR=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage \
              -DLIBXML2_INCLUDE_DIR=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/include \
              -DLIBXML2_LIBRARY=/opt/QGIS/qgis-deps-${QGIS_DEPS_VERSION}/stage/lib/libxml2.dylib \
              ../MDAL
          make -j`nproc`

      - name: Run tests
        env:
          CTEST_TARGET_SYSTEM: Linux-gcc
        run: |
          cd ../build_osx
          ctest -VV
